<include file="Public/mobile_head"/>	
<extend name="Base/common" />
<block name="body">
	  <style type="text/css">
		.Form_main{
			margin-top: -10px;
		}
		.com_button{
			margin-top: -540px;
			margin-left: 650px;
		}
		.com_button_once{
			margin-top: 35px;
			margin-left: 650px;
		}
		div.upload-img-box{
			height:120px;
			width:120px;
			margin-top:350px;
			margin-left: 960px;
			border-style: solid; border-width:1px;
		}
		.controls{
			height:50px;
			width:200px;	
			margin-top:20px;
			border-style: solid; border-width:1px;
		}
		.Form_field{
			height:500px;
			width:600px;
			margin-left: 8px;
			overflow-y:auto;
			overFlow-x:hidden;
			border-style: solid; border-width:1px;
		}
		.com_broder{
			margin-top:5px;
			height:32px;
			width:200px;
			border-style: solid; 
			border-width:1px;
		}
		
		.mybtn {
			display: inline-block;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 20px;
			width: 80px;
			color: #fff;
			text-align: center;
			vertical-align: middle;
			cursor: pointer;
			background: #1fce02;
			border: none;
			-moz-transition: color .25s linear, background-color .25s linear;
			-webkit-transition: color .25s linear, background-color .25s linear;
			transition: color .25s linear, background-color .25s linear;
		}
		
		.ui-draggable{
			padding-top: 15px;
			margin-left: 8px;
		}
			
		hr{
			height: 1px;
			border: none;
			border-top: 1px solid #CCCCCC;
		}
		.pcontrol{
			margin-top: -36px;
			margin-left: 80px;
		}
		.pcontrol1{
			margin-top: -36px;
			margin-left: 100px;
		}
		.deleteButton{
			font-size:12px;
			color:#CCCCCC;
			width: 30px;
			height: 30px;
			margin-top: 2px;
			margin-right: 2px;
			padding: 0 5px;
			background: url('{:ADDON_PUBLIC_PATH}/delete.png') no-repeat;
			float: right;
			}
	  </style>
	  <script type="text/javascript">
		//alert(hre);
		function getPicup(_id){
			$("#upload_picture"+_id).uploadify({
					    "height"          : 50,
						"swf"             : "__STATIC__/uploadify/uploadify.swf",
				        "fileObjName"     : "download",
				        "buttonText"      : "上传图片",
				        "uploader"        : "{:U('home/File/uploadPicture',array('session_id'=>session_id()))}",
				        "width"           : 50,
				        'removeTimeout'	  : 1,
				        'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
				        "onUploadSuccess" : uploadPicture
				    });
					function uploadPicture(file, data){
					   	var data = $.parseJSON(data);
					   	var src = '';
							if(data.status){
					       	$("#cover_id").val(data.id);
							src = data.url || '__ROOT__' + data.path;
										
							count = count+1;
							var insertLi = '<li class="ui-draggable" id="com'+count+'" name="id_piconly"  title="点击可修改" style="list-style-type:none;" onmouseover="showDel('+count+
									')" onmouseout="cancleDel('+count+')"><div class="deleteButton" id="deleteButton'+count+'" style="display: none;" onclick="onClickDel('+count+')"></div>'
									+'<div class="img_title"><img class="img_block" src="' + src + '"/></div>'+'</li>';
							$("ul.form_component").append(insertLi);
							      //$("#cover_id").parent().find('.upload-img-box').html(
							      //	'<div class="upload-pre-item"><img src="' + src + '"/></div>'
							      //);
							} else {
							    updateAlert(data.info);
							    etTimeout(function(){
									$('#top-alert').find('button').click();
							        $(that).removeClass('disabled').prop('disabled',false);
							        },1500);
							}
					}
			}
	  </script>
	  <div class="span9 page_message">
		<section id="contents"> 
		  <include file="Addons/_nav" /> 
		  <if condition="$add_button || $del_button || $search_button || !empty($top_more_button)">   
		  </if>
		  <!-- 数据列表 -->
		  <div class="page"> {$_page|default=''} </div>
		</section>
	  </div>
	  <div class="Form_main">		
		<div class="formBuilder_example">
			<div scroll="no" class="Form_field">
				<div class="formBuilder_example_form">
					<div class = "formBuilder_main">
						<div class="">	
							<div class="formLogo" style="display:none;">
							<img id="face" border alt src style="display: none;"></div>
							
							<ul class="form_component ui-sortable">
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="formBuilder_example_use">
				<a class="btn btn-primary btn_example_preview" target="_blank" style="margin-left:250px;">预览表单</a>
				<a class="btn btn-primary btn_example_generate" style="margin-left:170px;" target="_blank">
					<span>生成表单</span>
				</a>
			</div>	
		</div>
		<div class="com_button">
			<p style="font-size:16px;color=#fff">组件<span style="margin-left:15px;font-size:12px;color=#B3B3B3">用于表单静态页面</span></p>
			<hr>
			<div class="com_broder">
				<button class="mybtn" id="id_single">单行文本</button><span style="margin-left:5px;">单行文本描述</span>
			</div>
			<div class="com_broder">
				<button class="mybtn" id="id_section">描述</button><span style="margin-left:5px;">对表单进行描述</span>
			</div>
			<div class="controls">
				<input type="file" id="upload_picture1">
				<input type="hidden" name="" id="cover_id" value=""/>
				<p class="pcontrol1">纯图片</p>
			<div class="upload-pre-item" ></div>
            </div>
			<script type="text/javascript">
				getPicup(1);
			</script>
            <div class="controls">
				<input type="file" id="upload_picture">
				<input type="hidden" name="" id="cover_id" value=""/>
				<p class="pcontrol">图片加文字描述</p>
			<div class="upload-pre-item" ></div>
            </div>
            <script type="text/javascript">
					//上传图片
					/* 初始化上传插件 */
					$("#upload_picture").uploadify({
					    "height"          : 50,
						"swf"             : "__STATIC__/uploadify/uploadify.swf",
				        "fileObjName"     : "download",
				        "buttonText"      : "上传图片",
					//	"folder"		  : '/Upload/Picture/Forms/',
				        "uploader"        : "{:U('home/File/uploadPicture',array('session_id'=>session_id()))}",
				        "width"           : 50,
				        'removeTimeout'	  : 1,
				        'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
				        "onUploadSuccess" : uploadPicture
				    });
					function uploadPicture(file, data){
					   	var data = $.parseJSON(data);
					   	var src = '';
							if(data.status){
					       	$("#cover_id").val(data.id);
							src = data.url || '__ROOT__' + data.path;
										
							count = count+1;
							var insertLi = '<li class="ui-draggable" id="com'+count+'" name="id_controls"  title="点击可修改" style="list-style-type:none;" onmouseover="showDel('+count+
									')" onmouseout="cancleDel('+count+')"><div class="deleteButton" id="deleteButton'+count+'" style="display: none;" onclick="onClickDel('+count+')"></div>'
									+'<div class="img_title"><img class="img_block" src="' + src + '"/></div>'
									+'<div class="subtitle" id="subtitle'+count+'" ><label class="title" onclick="subTitleClick('+count+')">'+'这里是图片，请写下描述，可为空'+'</label></div>'+'</li>';
							$("ul.form_component").append(insertLi);
							      //$("#cover_id").parent().find('.upload-img-box').html(
							      //	'<div class="upload-pre-item"><img src="' + src + '"/></div>'
							      //);
							} else {
							    updateAlert(data.info);
							    etTimeout(function(){
									$('#top-alert').find('button').click();
							        $(that).removeClass('disabled').prop('disabled',false);
							        },1500);
							}
					}
			</script> 
		</div>
		
		<div class="com_button_once">
			<hr>
			<p style="font-size:16px;color=#fff">用户组件<span style="margin-left:15px;font-size:12px;color=#B3B3B3">用于可给用户填写的表单组件</span></p>
			<div style="margin-top:20px;">
				<button class="mybtn" id="id_picupload">图片上传</button>
				<button class="mybtn" id="id_name" style="margin-left:20px;">姓名</button>
				<button class="mybtn" id="id_phone" style="margin-left:20px;">手机</button>
				<button class="mybtn" id="id_address" style="margin-left:20px;">地址</button>
			</div>
			<div style="margin-top:20px;">
				<button class="mybtn" id="id_name" >姓名</button>
				<button class="mybtn" id="id_name" style="margin-left:20px;">姓名</button>
				<button class="mybtn" style="margin-left:20px;">单行文本</button>
				<button class="mybtn" style="margin-left:20px;">单行文本</button>
			</div>
		</div>
		</div>
	</div>
</block>
<block name="script"> 
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/test.js" ></script>
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/jquery-2.1.4.min.js"  ></script>
<script type="text/javascript">
var count=0;
$(function(){	
	
	var isMust = "*";
	$("button#id_single").click(function(){
		$("button#id_single").attr("disabled",true);
		$("button#id_single").css("background","#DDDDDD");//#90F94B
		count = count+1;
		var insertLi = '<li class="ui-draggable" id="com'+count+'" name="id_single"  title="点击可修改" style="list-style-type:none;" onmouseover="showDel('+count+
				')" onmouseout="cancleDel('+count+')"><div class="deleteButton" id="deleteButton'+count+'" style="display: none;" onclick="onClickDel('+count+')"></div>'
				+'<span class="title_field" id="com'+count+'" ><label class="title" onclick="titleClick('+count+')">'+'单行文本'+'</label><span class="com_required">'+''+'</span></span>'
				+'<div><input type="text" class = "'+''+'" '+''+' /></div>'+'</li>';
		$("ul.form_component").append(insertLi);
		//$("li")
	});
	$("button#id_name").click(function(){
		$("button#id_name").attr("disabled",true);
		$("button#id_name").css("background","#DDDDDD");
		count = count+1;
		var insertLi = '<li class="ui-draggable" id="com'+count+'" name="id_name"  title="点击可修改" style="list-style-type:none;" onmouseover="showDel('+count+
				')" onmouseout="cancleDel('+count+')"><div class="deleteButton" id="deleteButton'+count+'" style="display: none;" onclick="onClickDel('+count+')"></div>'
				+'<span class="title_field" id="com'+count+'" ><label class="title" onclick="titleClick('+count+')">'+'姓名'+'</label><span class="com_required">'+''+'</span></span>'
				+'<div><input type="text" class = "'+''+'" '+''+' /></div>'+'</li>';
		$("ul.form_component").append(insertLi);
		//$("li")
	});
	$("button#id_address").click(function(){
		$("button#id_address").attr("disabled",true);
		$("button#id_address").css("background","#DDDDDD");
		count = count+1;
		var insertLi = '<li class="ui-draggable" id="com'+count+'" name="id_address"  title="点击可修改" style="list-style-type:none;" onmouseover="showDel('+count+
				')" onmouseout="cancleDel('+count+')"><div class="deleteButton" id="deleteButton'+count+'" style="display: none;" onclick="onClickDel('+count+')"></div>'
				+'<span class="title_field" id="com'+count+'" ><label class="title" onclick="titleClick('+count+')">'+'地址'+'</label><span class="com_required">'+''+'</span></span>'
				+'<div><input type="text" class = "'+''+'" '+''+' /></div>'+'</li>';
		$("ul.form_component").append(insertLi);
		//$("li")
	});
	$("button#id_phone").click(function(){
		$("button#id_phone").attr("disabled",true);
		$("button#id_phone").css("background","#DDDDDD");
		count = count+1;
		var insertLi = '<li class="ui-draggable" id="com'+count+'" name="id_phone"  title="点击可修改" style="list-style-type:none;" onmouseover="showDel('+count+
				')" onmouseout="cancleDel('+count+')"><div class="deleteButton" id="deleteButton'+count+'" style="display: none;" onclick="onClickDel('+count+')"></div>'
				+'<span class="title_field" id="com'+count+'" ><label class="title" onclick="titleClick('+count+')">'+'手机'+'</label><span class="com_required">'+''+'</span></span>'
				+'<div><input type="text" class = "'+''+'" '+''+' /></div>'+'</li>';
		$("ul.form_component").append(insertLi);
		//$("li")
	});
	
	$("button#id_section").click(function(){
		count = count+1;
		var insertLi = '<li class="ui-draggable" id="com'+count+'" name="id_section"  title="点击可修改" style="list-style-type:none;" onmouseover="showDel('+count+
				')" onmouseout="cancleDel('+count+')"><div class="deleteButton" id="deleteButton'+count+'" style="display: none;" onclick="onClickDel('+count+')"></div>'
				+'<span class="title_field" id="com'+count+'" ><label class="title" onclick="titleClick('+count+')">'+'单行文本'+'</label>'
				+''+'</span><hr class="sectionLine">'
				+'<div class="subtitle" id="subtitle'+count+'" ><label class="title" onclick="subTitleClick('+count+')">'+'点击进行修改'+'</label></div>'+'</li>';
		$("ul.form_component").append(insertLi);
	});
	
	$("button#id_picupload").click(function(){
		$("button#id_picupload").attr("disabled",true);
		$("button#id_picupload").css("background","#DDDDDD");
		count = count+1;
		var insertLi = '<li class="ui-draggable" id="com'+count+'" name="id_picupload"  title="点击可修改" style="list-style-type:none;" onmouseover="showDel('+count+
				')" onmouseout="cancleDel('+count+')"><div class="deleteButton" id="deleteButton'+count+'" style="display: none;" onclick="onClickDel('+count+')"></div>'
				+'<span class="title_field" id="com'+count+'" ><label class="title" onclick="titleClick('+count+')">'+'请选择文件上传'+'</label>'+'</span><hr class="sectionLine">'
				+'<div class="title_field img_title"><input type="file" id="picupload"'+count
				+'" class="input_file" name="_FILE_" name="files[]"><p>请选择小于2M的JPG、PNG、JPEG文件进行上传</p></div>'+'</li>';
		$("ul.form_component").append(insertLi);
	});
	
	$(".btn_example_preview").click(function(){
		var hre ='{:ADDON_PUBLIC_PATH}'.replace("Public", "FormsAttribute");
		sendData2Php("POST", '__APP__/addon/Forms/FormsAttribute/dataPreview', function(data){
			window.open(data.url);
		}, '');

		//$("a.btn_example_generate").href=hre+"/"+"datapreview.html";
		//window.open(hre+"/"+"datapreview.html");
	});
	
	$(".btn_example_generate").click(function(){
		var hre ='{:ADDON_PUBLIC_PATH}'.replace("Public", "FormsAttribute");
		sendData2Php("POST", '__APP__/addon/Forms/FormsAttribute/getDataAndShow/', function(data){
			window.open(data.url);
		}, '');

        //$("a.btn_example_generate").href=hre+"/"+"datapreview.html";
        //window.open(hre+"/"+"datapreview.html");
    });
		//window.open(hre+"/"+"getdataandshow.html");
	});
});

function getUrlPara(){  
		var sUrl  =  location.href;
		sUrl = sUrl.replace("http://","");
		var arr = sUrl.split("/");
		var cont = arr[arr.length-1];
		return cont.replace(".html",""); 
	} 
function sendData2Php(s_type, s_url, s_success, s_error){
		var datas = {records: []};
		var row = {};
		var c_id ="";
		var f_id = getUrlPara();
		var c_name = "";
		var c_title,c_detail = "";
		datas.records.push({"id":c_id, "f_id":f_id, "name":c_name, "title":c_title, "detail":c_detail});
		$("ul.form_component").find("li.ui-draggable").each(function(){			
			c_id= this.id;
			c_name = $(this).attr("name");						
			if(c_name=="id_single"||c_name=="id_address"||c_name=="id_name"||c_name=="id_phone"||c_name=="id_picupload"){
				c_title = $(this).find("span.title_field").text();
				c_detail = "";
				
				
				datas.records.push({"id":c_id, "f_id":f_id, "name":c_name, "title":c_title, "detail":c_detail});
			}else if(c_name=="id_section"){
				c_title = $(this).find("span.title_field").text();
				c_detail = $(this).find("div.subtitle").text();
				
				
				datas.records.push({"id":c_id, "f_id":f_id, "name":c_name, "title":c_title, "detail":c_detail});
			}else if(c_name=="id_controls"||c_name=="id_piconly"){
				c_title = $(this).find("img.img_block").attr("src");
				c_detail = $(this).find("div.subtitle").text();
				
				datas.records.push({"id":c_id, "f_id":f_id, "name":c_name, "title":c_title, "detail":c_detail});
			}else{					
				datas.records.push({"id":c_id, "f_id":f_id, "name":c_name, "title":c_title, "detail":c_detail});
			}	
		});
		
		$.ajax({
		  type: s_type,//'POST',
		  url: s_url,//'__APP__/addon/Forms/FormsAttribute/getDataAndShow',
		  dataType: 'json',
		  data: datas,
		  success: s_success
		});
}
function onClickDel(del_id){
	var cont_com = $("li#com"+del_id).attr("name");
	$("button#"+cont_com).removeAttr("disabled");//alert(cont_com);
	$("button#"+cont_com).css("background","#1fce02");
	$("li#com"+del_id).remove();
}

function showDel(del_id){ 
	$("div#deleteButton"+del_id).show();
	//$("div.Delshow").html("<a><image src='{:ADDON_PUBLIC_PATH}/delete.png'></a>");
}

function cancleDel(del_id){
	//$("div.Delshow").html("");
	$("div#deleteButton"+del_id).hide();
	//$("div#deleteButton"+del_id).html("删除");
}

function titleClick(id_count){
		//var clickfunction = this;
		var lab = $("span#com"+id_count);
		var text = lab.text();
		lab.html("");
		
		//建立一个文本框
		var input = $("<input id=content"+id_count+">");
		//input.attr("value",text);
		lab.append(input);
		input.focus();
		input.blur(function(){
			var inputnode = $("input#content"+id_count);
				//获取当前文本框的内容
				var inputext = inputnode.val();
				if(inputext != text && inputext!=""){
					lab.html("");
					var labelcont = $('<label class="title" onclick="titleClick('+id_count+')">'+inputext+'</label>');
					lab.append(labelcont);
				}else{
					lab.html("");
					var labelcont = $('<label class="title" onclick="titleClick('+id_count+')">'+text+'</label>');
					lab.append(labelcont);
				}
		});
		input.keyup(function(event){
			var kcode = event.keyCode ? event.keyCode : event.which ? event.which : event.charCode;
			if(kcode == 13){
				var inputnode = $("input#content"+id_count);
				//获取当前文本框的内容
				var inputext = inputnode.val();
				if(inputext != text && inputext!=""){
					lab.html("");
					var labelcont = $('<label class="title" onclick="titleClick('+id_count+')">'+inputext+'</label>');
					lab.append(labelcont);
				}else{
					lab.html("");
					var labelcont = $('<label class="title" onclick="titleClick('+id_count+')">'+text+'</label>');
					lab.append(labelcont);
				}
			}
			//需要清楚span上的点击事件
			lab.unbind("click");
		});
		
	}
function subTitleClick(id_count){
		var content = "";
		var lab = $("div#subtitle"+id_count);
		var text = lab.text().replace(/\r?\n/gi, "<br />");
		lab.html("");
		
		//建立一个文本框
		var input = $("<textarea id=content"+id_count+">");
		input.attr("value",text);
		lab.append(input);
		input.focus();
		input.blur(function(){			
				//获取当前文本框的内容
				var inputnode = $("textarea#content"+id_count);
				var inputext = inputnode.val().replace(/\r?\n/gi, "<br />");
				if(inputext != text && inputext!=""){
					lab.html("");
					//alert(content);
					//lab.append($("<div>"+inputext+content+"</div>"));
					var labelcont = $('<label class="title" onclick="subTitleClick('+id_count+')">'+inputext+'</label>');
					lab.append(labelcont);
				}else{
					lab.html("");
					var labelcont = $('<label class="title" onclick="subTitleClick('+id_count+')">'+text+'</label>');
					lab.append(labelcont);
				}
		});
	}
</script> 
</block>
